[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typing = "*"
datetime = "*"
telegram = "*"
dotenv = "*"
python-telegram-bot = "*"
pandas = "*"
numpy = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
